.text-post {
  margin-top: 1rem;
  display: grid;
  gap: 2rem;
}

.text-note {
  padding-top: 1rem;
  font-size: small;
}

@media (max-width: 575px) {
  .text-note {
    display: none;
  }
}

@media (min-width: 576px) {
  .text-post {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }

  .text-content {
    grid-column: span 8;
  }

  .text-metadata {
    grid-column: span 2;
  }
}
