.txt-header,
.txt-body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 1rem;
}

.txt-header,
.txt-body > div {
  overflow-x: auto;
}

@media (min-width: 576px) {
  .txt-header,
  .txt-body {
    display: grid;
    grid-template-columns: 0.8fr 3.2fr;
    gap: 1.5rem;
  }
}

@media (min-width: 768px) {
  .txt-header,
  .txt-body {
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
  }
}
