.txt-header {
  margin-bottom: 1.5rem;
}

.txt-title {
  margin-bottom: 0;
  max-width: 500px;
}

.txt-note {
  font-size: small;
}

.txt-header,
.txt-body {
  display: grid;
  gap: 1rem;
}

@media (min-width: 576px) {
  .txt-header,
  .txt-body {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .txt-date-n-type,
  .txt-note {
    grid-column: span 1;
  }

  .txt-title,
  .txt-content {
    grid-column: span 3;
  }
}
