.navbar-desktop {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar-button,
.mobile-nav-menu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  -webkit-font-smoothing: antialiased;
  margin: 1rem 0;
}

.navbar-desktop .navbar-button:not(:first-child) {
  margin-left: 2rem;
}
