.image-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.image-slider-display {
  display: flex;
  width: 100%;
  background-color: black;
}

.slide {
  height: min(100vh, 600px);
  width: 100%;
}

.img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 3rem;
}

.img.active {
  display: block;
}

.image-slider-controller {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.button-decrement,
.button-increment {
  background-color: transparent;
  border: none;
  position: relative;
}

.button-decrement {
  left: -1.5rem;
}

.button-increment {
  right: -1.5rem;
}

.button-decrement div {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #7d7d7d;
}

.button-increment div {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #7d7d7d;
}

.button-controller {
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  padding: 0.2rem;
  margin: 0.5rem 0.6rem;
  background-color: #dfdfdf;
}

.button-controller.active {
  background-color: black;
}

.overlay-background {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.overlay-background.active {
  height: 100%;
  opacity: 1;
}

.overlay-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.slide-fullscreen {
  height: 95%;
}

.slide-fullscreen .img {
  padding: 0;
}

.overlay-buttons-container {
  height: 5%;
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}
