.image-slider-container {
  /* width: 2rem; */
}

.image-slide-container {
  display: flex;
  float: left;
}

.image-slide {
  height: 30rem;
  width: min(45em, 100vw);
  position: relative;
}

.image-slide.active {
  right: 0;
}

.image-slider-dot-list {
}

.image-slider-dot {
}
