.work-tile {
  width: 10rem;
  background-color: white;
  filter: grayscale(100%) opacity(0.5);
}

.work-tile:hover {
  filter: none;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.work-title {
  text-align: right;
}
