.text-metadata-groups-container {
  display: grid;
  gap: 1rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .text-metadata-group {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }

  .text-metadata-group-year {
    grid-column: span 1;
  }

  .text-metadata-group-metadata {
    grid-column: span 9;
  }
}
