html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  color: #7D7D7D;
  font-size: large;
}

h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

h1 {
  font-size: larger;
  max-width: 400px;
  margin: 0 0 2em 0;
}

h2 {
  font-size: large;
}

h3 {
  font-size: medium;
}

h2 ~ p {
  margin-bottom: 2em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
