html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  color: #7d7d7d;
  font-size: medium;
}

main {
  padding: 2rem 0;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

h1 {
  font-size: x-large;
  -webkit-font-smoothing: antialiased;
  margin: 0 0 1.5em 0;
}

h2 {
  font-size: larger;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  margin-top: 0;
}

h3 {
  font-size: large;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
}

h2 ~ p {
  margin-bottom: 2rem;
}

p {
  text-align: justify;
  text-justify: inter-word;
  line-height: 130%;
  font-size: large;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #b59aff;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

#__next {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2rem;
}

.sans {
  font-family: Arial, Helvetica, sans-serif;
}

.small {
  font-size: small;
}

.hidden {
  display: none;
}
