.main {
  max-width: 960px;
  margin: 0 auto;
}

.navbar {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  width: 40%;
  overflow: hidden;
}

.navbar div.navbar-button {
  padding: 1em;
  font-size: medium;
}

.navbar div.navbar-button:first-child {
  padding-left: 0;
}

.navbar div.navbar-toggle {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar div.navbar-button:not(:first-child) {
    display: none;
  }

  .navbar div.navbar-toggle {
    display: block;
    float: right;
  }

  .navbar.expanded {
    flex-direction: column-reverse;
    position: relative;
  }

  .navbar.expanded div.navbar-toggle {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .navbar.expanded div.navbar-button {
    float: none;
    display: block;
    padding: 0;
  }
}

.text-post {
  display: flex;
  margin-top: 1em;
  flex-wrap: wrap;
}

.text-content {
  max-width: 680px;
  margin: 0 0 0 auto;
}

.text-metadata {
  font-family: Arial, Helvetica, sans-serif;
}